/HGS Winter/imgui.ini
/HGS Winter/Debug
/HGS Winter/Release
/HGS Winter/HGS.VC.db
/HGS Winter/.vs
/HGS Winter/HGS.pdb
/HGS Winter/HGS.iobj
/HGS Winter/HGS.ipdb
/HGS Winter/data/Ranking/RankingData.txt
